<div class="container">

  <%# TODO:
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>

  <% if current_user == nil %>
    <h1> Welcome! Please sign in!</h1>
  <% else %>
    <h1>Here is a list of all users!</h1>
    <% @users.each do |user| %>
    <%= user.name %><br>
    <% end %>
  <% end %>
</div>
